/* Component CSS styles */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* background-color: black; */
  align-items: center;
}

.Title {
  font-size: 5rem;
  letter-spacing: -0.08em;
  line-height: 50.4px;
  
  color: white;
  border-left: 4px solid #00ffff;
  padding-left: 4px;
  width: 100%;
}

.highlight {
  color: #00ffff;
}

.OurProductsdescription {
  font-size: 1.5rem;
  line-height: 38.4px;
  text-align: left;
  text-transform: capitalize;
  color: white;
  
  margin-top: 6px;
}

.Image3 {
  background-color: #4e4e4e;
  width: 100%;
  height: 645px;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overlay {
  
  background: rgba(31, 31, 30, 0.2);
  width: 100%;
  padding: 32px;
  color: white;
}

.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element, .subTitle {
  font-family: 'Michroma', sans-serif;
}

.mainTitle {
  font-size: 4rem;
  letter-spacing: -0.02em;
}

.Details {
  background-color: white;
  width: 60%;
  padding: 10px;
  position: absolute;
  bottom: 0;
}

.detailsText {
  font-size: 1rem;
  color: #1f1f1e;
  font-family: 'Michroma', sans-serif;
}

.learnMoreBtn {
  border: 2px solid #00ffff;
  background-color: white;
  padding: 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Michroma', sans-serif;
  box-shadow: #4d4c4c 0px 2px 2px;
}

.sliderContainer {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  height: 1000px;
  max-height: 1000px;
  /* width:900px; */
  display: flex;
  justify-content: center; 
  /* Center the slides container horizontally */
  align-items: center; 
  width: 100%; 
  /* Take the full width of the parent */
  /* height: 100%; */
  max-width: 15000px; 
  /* Center the slides container vertically */ 
  /* Use flexbox to align children */
  
}
/* This will hold both the slides and the navigation bar */
.slidesAndNavigation {
  position: relative;
  height: 100%;
}

.slide {
  flex: 0 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 65%;
  height: 100%;
  transition: transform 0.5s ease;
  transform:  translateX(100%);;
  z-index: 1;
  opacity: 0;
}

.slide.active {
  opacity: 1;
  transform:   translateX(10%) scale(1);
  z-index: 2;
}

.navigationDots {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  z-index: 3;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #00ffff;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #00ffff;
}
/* Add these styles to your existing CSS */

.navigationBar {
  z-index: 3;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:   flex-start;  /* Align buttons to the left */
  position: absolute;
  bottom: 0px; /* Adjust as needed */
  
  /* Align to the left side */
  left: 0%;
  top: 0%;
  /* transform: translateX(50%); */
  padding: 0px;
  width: 100%;
  background-color: #00ffff;
  
  overflow-x: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow for depth */
}



.navButton {
  background: none;
  border: none;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
  color: white; /* Color of the numbers */
  font-size: 1rem;
  font-family: 'Michroma', sans-serif;
  transition: transform 0.3s, font-weight 0.3s;
}

.navButton:hover,
.navButton.active {
  transform: translateY(-5px);
  font-weight: bold; /* Make the number bold when active or hovered */
}

/* You may need to adjust the .slide and .slide.active styles to ensure that the navigation bar does not overlap with the slide content */

   .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00ffff;
    color: white;
    height: 100%;
    border-right: 2px solid black;
    
    position: relative;
  }
  
  .drop-button {
    background: transparent;
    color: white;
    height: 100%;
    padding: 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%;
    transition: background-color 0.3s, transform 0.3s;;
    
  }
  
  .drop-button.active {
    color: #000;
    height: 0;
    background: transparent;
  }
  .drop-button::after {
    content: '>';
    font-weight: bold;
    position: absolute; /* Position absolutely within the relative parent */
    top: 0; /* Align to the top of the button */
    right: 90px; /* Place it to the right */
    display: inline-block;
    margin-left: 10px;
    transform: translateY(-100%),rotate(90deg); /* Rotate arrow to point downwards */
    transition: transform 0.3s;
  }
  
  .drop-button.active::after {
    transform: rotate(-180deg); 
    /* Rotate arrow to indicate active state */
  }

  .drop-button:hover,
  .drop-button.active {
    background-color: #000000;
  }

  
  .dropdown-content {
    display: none;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    padding-left: 0px;
    /* height: 100%; */
    max-width: 1500px;
    max-height: 1000px;
    z-index: 10;
    overflow: hidden; 
    transition: width 0.5s ease;
  }
  
  .nav-item .active + .dropdown-content {
    display: block; /* Show the dropdown */
    width: auto; /* Set width to auto so it can expand */
  }
  
  .product-image {
    width: 100%;
    height: 100%;
  }
  
  .product-details {
    position: absolute; /* Position absolutely within the parent .nav-item */
    bottom: 0px; 
    /* Distance from the bottom of the .nav-item */
    /* left: 20px;  */
    /* Distance from the left of the .nav-item */
    background-color: white;
    width: calc(100% - 500px); /* Full width minus padding */
    padding: 10px;
    box-sizing: border-box; /* Include padding in width calculation */
    z-index: 10; /* Ensure it's above other elements */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    
  }
  
  .drop-button-id{
    
    padding: 20px;
    padding-left: 60px;
    /* padding-top: 500px; */
    font-size: 1rem;
    border-top: #000;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: 'Michroma', sans-serif;
  }

  .product-details-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 1rem;
    color: #000;
  }
  .product-details-title {
    position: absolute; /* Position absolutely within the parent .nav-item */
    bottom: 100%; /* Place it above the .product-details box */
    left: 20px; /* Align with the left side of the .product-details box */
    color: white; /* Match the text color with the slide */
    padding: 10px; /* Padding for aesthetic spacing */
    background: none; /* No background for the title */
    font-size: 2rem; /* Adjust the font size as needed */
    z-index: 10; /* Ensure it's above the image and other elements */
    transition: all 0.3s ease-in-out;
  }

  .product-details-subtitle {
    position: absolute; /* Position absolutely within the parent .nav-item */
    bottom: 140%; /* Place it above the .product-details box */
    left: 75px; /* Align with the left side of the .product-details box */
    color: #ffffff; /* Match the text color with the slide */
    padding: 10px; /* Padding for aesthetic spacing */
    background: none; /* No background for the title */
    font-size: 1rem; /* Adjust the font size as needed */
    z-index: 10; /* Ensure it's above the image and other elements */
    transition: all 0.3s ease-in-out;
  }

  .product-details-id {
    position: absolute; /* Position absolutely within the parent .nav-item */
    bottom: 133%; /* Place it above the .product-details box */
    left: 20px;
    
     /* Align with the left side of the .product-details box */
    color: #ffffff; /* Match the text color with the slide */
    padding: 10px; /* Padding for aesthetic spacing */
    background: none; /* No background for the title */
    font-size: 1.5rem; /* Adjust the font size as needed */
    z-index: 10; /* Ensure it's above the image and other elements */
    transition: all 0.3s ease-in-out;
  }
  /* Additional styles */
  